body{
background:#0d0d0d;
color:#e5e5e5;
font-family:Arial;
margin:0;
}

header{
padding:40px;
border-bottom:1px solid #333;
}

h1{
font-size:36px;
}

h2{
color:#ff4d4d;
margin-top:40px;
}

section{
padding:30px 40px;
}

ul{
line-height:1.8;
}

.status{
color:#00d26a;
font-weight:bold;
}

.encora{
background:#ff4d4d;
color:white;
padding:10px 16px;
text-decoration:none;
border-radius:6px;
}
